# Watchdog
CONFIG_ESP_TASK_WDT_EN=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=10
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# ADC — run oneshot read function from IRAM to avoid cache miss during busy-wait
CONFIG_ADC_ONESHOT_CTRL_FUNC_IN_IRAM=y

# RMT — keep ISR in IRAM
CONFIG_RMT_ISR_IRAM_SAFE=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# WiFi — disable SoftAP, we only need station mode for OTA
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
